127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# ==============
# master
# ==============
192.168.0.1     masterfast01.dogood.es     masterfast01

# ==============
# slave
# ==============
192.168.1.1     nodefast01.dogood.es       nodefast01
192.168.1.2     nodefast02.dogood.es       nodefast02