127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# ==============
# master
# ==============
192.168.0.1     master01.dogood.es     master01

# ==============
# worker
# ==============
192.168.1.1     worker01.dogood.es     worker01
192.168.1.2     worker02.dogood.es     worker02
192.168.1.3     worker03.dogood.es     worker03